setuptools~=69.0.2
wheel~=0.42.0
twine~=4.0.2
mypy~=1.7.1
black~=23.11.0
tox~=4.11.4
versioneer~=0.29
pyinstaller~=6.4.0
pytest~=8.1.0
pytest-mock~=3.12.0

jsonschema~=4.21.1
PyGithub~=2.2.0
GitPython~=3.1.42
inquirerpy~=0.3.4
alive-progress~=3.1.5
prompt-toolkit~=3.0.43